.pillbox {
    border: 1px solid #ddd;
    padding-top: 0.5em;
}

.pillbox .pill {
    display: inline-block;
    padding: 0 0.3em;
    margin: 0 0 0.5em 0.5em;
    border: 1px solid #ddd;
}

.pillbox .pill.highlighted{
    background: #f6f6f6;
    border-color: #bbb;
}

.pillbox .pill .remove {
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    color: #666;
    font-weight: bold;
    margin: 0 0 0 0.5em;
}

.pillbox .pill .remove:hover {
    color: #333;
}

.pillbox .pill .remove:active {
    color: #000;
}

.pillbox .prescription {
    display: inline-block;
    position: relative;
    margin-left: 0.5em;
    margin-bottom: 0.5em;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pillbox .prescription input {
    -webkit-appearance: none;
    outline: none;
    /*border: none;*/
    margin: 0;
    padding: 0;
    min-width: 1em;
}

.pillbox .prescription-list {
    position: absolute;
    background: #fff;
    width: 100%;
}

.pillbox .prescription-item {
    display: block;
    background: #eee;
    padding: 0 0.3em;
    margin-top: 1px;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pillbox .prescription-item:first-child {
    margin-top: 0;
}

.pillbox .prescription-item.highlighted {
    background: #666;
    color: #fff;
}